.custom-login .ant-input-outlined {
  background-color: rgba(255, 255, 255, 0);
  border-color: #1890ff;
  color: #fff;
  height: 38px;
}
.custom-login .ant-input-prefix {
  color: #1890ff;
}
.custom-login .ant-input::-webkit-input-placeholder {
  color: rgba(24, 144, 255, 0.8);
}
.custom-login .ant-input-password-icon.anticon {
  color: rgba(24, 144, 255, 0.8);
}
.custom-login .ant-input-password-icon.anticon:hover {
  color: #1890ff;
}
